body{
    font-family: "Helvetica";
}

.rushee-info{
    margin-left:100px;
}

.rushee-status{
    font-weight:bold;
}

.columns{
    margin:0 auto;
    width:1000px
}

.rushees-wrapper{
    display:inline-block;
    margin:25px 25px;
    width:400px;
    /*margin: 20px;*/
    background:rgba(215, 236, 255, 0.4);
    padding:20px;
}

.rushee-wrapper{
    border-bottom: 1px solid #aaa;

    padding:20px;
}

.rushee-wrapper-updated{
    border-left: green;
    border-left-style: solid;
    border-left-width: 5px;
}

.rushee-wrapper:hover{
    background:rgba(215, 236, 255, 0.7);
}

.rushee-info-type{
    padding:5px;
    color:grey;
}


.rushee-info-type:after{
    content:':\0000a0';
}

.rushee-name{
    padding:5px;
    font-size:20px;
}

.bidworthy {
    font-weight:bold; color:blue;
}

.unbidworthy {
    font-weight:bold; color:red;
}

.possible-bidworthy {
    font-weight:bold; color:green;
}

.missing-sponsor{
    font-weight:bold; color:red;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}