body{
    font-family: "Helvetica";
}

.brothers-wrapper{
    margin:0 auto;
    width:400px;
    /*margin: 20px;*/
    background:rgba(215, 236, 255, 0.4);
    padding:20px;
}

.brother-wrapper{
    border-bottom: 1px solid #aaa;
 
    padding:20px;
}

.brother-wrapper:hover{
    background:rgba(215, 236, 255, 0.7);
}

.brother-info-type{
    padding:5px;
    color:grey;
}


.brother-info-type:after{
    content:':\0000a0';
}

.brother-name{
    padding:5px;
    font-size:20px;
}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}