.content-wrapper{
	margin:0 auto;
	width:1000px;
	/*box-shadow: 0 0 10px 2px #888;*/
}

.votes-wrapper {
	margin:40px 0 40px 0;
	box-shadow: 0 0 10px 2px #888;
	background-color:rgba(215, 236, 255, 0.4);
}

.votes-wrapper .title {
	padding: 10px 0 0 10px;
}

.votes-content{
	padding-bottom: 20px;
}

.votes-button {
	margin: 0px 0px 20px 20px;
}

.votes-table {
	margin: 0 auto;
	width: 700px;
	border: 1px solid rgba(100, 130, 200, 0.4);
	background-color: rgba(231, 231, 231, 0.4);
	border-spacing:0;
	border-collapse: collapse;
}

.votes-hidden {
	opacity: 0.4;
}

.votes-sort-form {
	padding: 10px;
}

.votes-sort-option-label {
	padding: 0 10px 0 0;
}

.bidworthy {
	font-weight:bold; color:blue;
}

.unbidworthy {
	font-weight:bold; color:red;
}

.possible-bidworthy {
	font-weight:bold; color:green;
}

.missing-sponsor{
	font-weight:bold; color:red;
}

td,th {
	border: 1px solid rgba(100, 130, 200, 0.4);
}

.votes-header-name {
	text-align: left;
}

.votes-cell {
	text-align: center;
}

.rushee-status{
	font-weight:bold;
}
