body{
    font-family: "Helvetica";
}

.rushee-info-item{
    padding: 0px 5px;
}

.rushee-status{
	font-weight:bold;
}

.rushees-wrapper{
    margin:0 auto;
    width:400px;
    /*margin: 20px;*/
    background:rgba(215, 236, 255, 0.4);
    padding:20px;
}

.rushee-wrapper{
    border-bottom: 1px solid #aaa;
 
    padding:20px;
}

.rushee-wrapper:hover{
    background:rgba(215, 236, 255, 0.7);
}

.rushee-info-type{
    color:grey;
}


.rushee-info-type:after{
    content:':\0000a0';
}

.rushee-name{
    padding:5px;
    font-size:20px;
}

.missing-sponsor{
	font-weight:bold; color:red;
}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}