extends /common/layout
include /common/mixins

block head
  title='Recent Rushees'  
  link(rel='stylesheet',href=basepath+'/css/viewrushees.css')
 

block content
  .rushees-wrapper
    h1.rushees-title View recent rushees
    ul.rushees-list
      -for(var i = 0; i < rushees.length; i++)
        -var rushee = rushees[i];
        li.rushee-wrapper
          +rushee(rushee, accountType, basepath, {time : true})
