extends /common/layout
include /common/mixins

block head
  title='Recent Rushees'  
  link(rel='stylesheet',href=basepath+'/css/viewrushees.css')
 

block content
  .rushees-wrapper
    h1.rushees-title View recent rushees
    ul.rushees-list
      each rushee in rushees
        li.rushee-wrapper
          +rushee(rushee, accountType, basepath, {time : true})
