extends /common/layout
include /common/mixins

block head
  title='Logs'
  link(rel='stylesheet',href=basepath+'/css/vote.css')

block content
  .log-thread-wrapper
    .log-thread-header
      h2.title Logs
    table.log-thread-content
      tr
        th Timestamp
        th Entry
      each log in logs
        tr
          td #{log.ts}
          td
            +object(log.entry)