extends /common/layout
include /jaunt/mixins

block head
  title='Jaunts'
  link(rel='stylesheet',href=basepath+'/css/jaunt.css')
  link(rel='stylesheet',href=basepath+'/css/vote.css')

block content
  .jaunt-thread-wrapper
    .jaunt-thread-header
      h2.title Jaunts
    ul.jaunt-thread-content
      each jaunt in jaunts
        li.jaunt-wrapper
          +jaunt(jaunt)
                                
  .jaunt-action-wrapper
    h2.title Add a Jaunt
    form.jaunt-action-content(method='post',action='#')
      .jaunt-action-item
        span.jaunt-action-name Name
        input.jaunt-action-input(type='text',required,name = 'jName')
      .jaunt-action-item
        span.jaunt-action-name Time
        input.jaunt-action-input(type='datetime-local',required,name = 'jTime')
      .jaunt-post
        input#save(type='submit',value='Submit')