extends /common/layout
include /common/mixins
include /jaunt/mixins

block head
  title='Jaunt'
  link(rel='stylesheet',href=basepath+'/css/jaunt.css')
  link(rel='stylesheet',href=basepath+'/css/vote.css')

block content
  .jaunt-wrapper
    +jaunt(jaunt)
                          
  .van-action-wrapper
    h2.title Add a van
    form.van-action-content(method='post',action='#')
      input(type='hidden',name='jID',value=jaunt._id)
      .van-action-item
        span.van-action-name Name
        input.van-action-input(type='text',required,name = 'vName')
      .van-action-item
        span.van-action-name Driver name
        input.van-action-input(type='text',required,name = 'vDriver')
      .van-post
        input#save(type='submit',value='Submit')
                 
  .comment-thread-wrapper
    h2.title Related Comments
    ul.comment-thread-content
      each comment in jaunt.comments
        +comment(comment, accountType, basepath, {brother : true, rushee: true})
        