extends /common/layout

block head
  title='Add a candidate'

block content
  .candidate-add-wrapper
    h1.candidate-add-title Add a candidate
    form.candidate-add-content(enctype = 'multipart/form-data')
      .candidate-add-info
        .candidate-add-item#candidate-first-name
          span.candidate-add-type First Name
          input.candidate-add-data(name='first',required)
        .candidate-add-item#candidate-last-name
          span.candidate-add-type Last Name
          input.candidate-add-data(name='last',required)
        .candidate-add-item#candidate-nickname
          span.candidate-add-type Nickname
          input.candidate-add-data(name='nick')
        .candidate-add-item#candidate-dorm
          span.candidate-add-type Dorm
          input.candidate-add-data(name='dorm')
        .candidate-add-item#candidate-phone
          span.candidate-add-type Phone
          input.candidate-add-data(name='phone')
        .candidate-add-item#candidate-email
          span.candidate-add-type Email
          input.candidate-add-data(name='email')
        .candidate-add-item#candidate-year
          span.candidate-add-type Year
          select.candidate-add-data(name='year')
            -years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
            -for (var i = 0; i < years.length; i++)
              option(value=years[i]) #{years[i]}
        .candidate-add-item#candidate-photo
          span.candidate-add-type Photo
          input.candidate-add-data(type='file',name='photo')
      .candidate-add-post
        input#save(type='submit',formmethod='post',formaction=basepath+'/admin/addcandidate',value='Submit')
