extends /common/layout

block head
  title='Copy a collection'

block content
  .export-wrapper
    h1.title Copy 'import' to a collection
    form.export-content
      .export-info
        .export-item#col-name
          span.export-type Name
          input.export-data(name='col',required)
      .export-post
        input(type='submit',formmethod='post',formaction='',value='Submit')
