!!! 5
html(lang='en')
  head
    block head
    link(rel='stylesheet',href=basepath+'/css/main.css')
    link(rel='stylesheet',href=basepath+'/css/normalize.css')
    link(rel='stylesheet',href=basepath+'/css/macro.css')
    link(rel='stylesheet',href=basepath+'/css/master.css')
  body
    include navigation
    .content-wrapper
      block content
