extends layout

block head

block content
  h1
    a(href='/vote') Go to vote on people
  h1
    a(href='/search') Go search for people
  h1
    a(href='/addbrother') Go add brothers
  h1
    a(href='/addrushee') Go add rushees
  h1
    a(href='/addjaunt') Go add a jaunt
  h1
    a(href='/addvan') Go add a van