extends layout

block head

block content
  h1 Brother stuff
  h2
    a(href='/viewrushees') Go vote on people
  h2
    a(href='/search') Go search for people
  h1 Admin stuff
  h2
    a(href='/addbrother') Go add brothers
  h2
    a(href='/addrushee') Go add rushees
  h2
    a(href='/addjaunt') Go add a jaunt
  h2
    a(href='/addvan') Go add a van
  h2
    a(href='/viewrushees') Go view rushees
  h2
    a(href='/viewbrothers') Go view brothers