extends layout

block head
  title = 'Rush Home'

block content
  -if (accountType == 'brother')
    h1 Brother links
    h2
      a(href='/viewrushees') Go view rushees
    //
      h2
        a(href='/search') Go search for people (NOT READY YET)
  -else if (accountType == 'admin')
    h1 Admin links
    h2
      a(href='/addbrother') Go add brothers
    h2
      a(href='/addrushee') Go add rushees
    h2
      a(href='/addjaunt') Go add a jaunt (NOT READY YET)
    h2
      a(href='/addvan') Go add a van (NOT READY YET)
    h2
      a(href='/viewrushees') Go view rushees
    h2
      a(href='/viewbrothers') Go view brothers