!!! 5
html(lang='en')
  head
    block head  
    link(rel='stylesheet',href='/css/main.css')
    link(rel='stylesheet',href='/css/normalize.css')
    link(rel='stylesheet',href='/css/macro.css')
    link(rel='stylesheet',href='/css/master.css')
  body
    include navigation
    block content