!!! 5
html(lang='en')
  link(rel='stylesheet',href='/css/main.css')
  link(rel='stylesheet',href='/css/normalize.css')
  script
    block script
  head
    block head  
  body
    include navigation
    block content