extends layout

block head
  title='Search for a Rushee'
  script(type='text/javascript',src=basepath+'/js/vendor/jquery-1.8.3.min.js')
  script(type='text/javascript',src=basepath+'/js/search.js')

block content
  .search-wrapper
    .search-content
      form.search-form(method='get',action='search')
        input#search-text(name='q',autocomplete='off')
        button#search-button(value=basepath+'/Search') Search

 